.pageContainer {
  width: 100%;
  max-width: 620px;
  padding-right: 32px;
  margin: 0;
  font-family: var(--font-sans), SF Pro Display, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.wrapper {
  background: var(--background);
  border: 1px solid var(--erp-border);
  border-radius: var(--radius-card);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-top: 24px;
}

.headerTitle {
  padding: 16px 24px;
  line-height: 24px;
  font-weight: 700;
  color: var(--erp-text-main);
  border-bottom: 1px solid var(--erp-border);
  background-color: #fafafa;
}

.orderRow {
  padding: 20px 24px;
  border-bottom: 1px solid var(--erp-border);
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 16px;
  transition: background-color 0.2s;
  background-color: var(--background);
}

.orderRow:hover {
  background-color: var(--item-hover);
}

.orderRow:last-child {
  border-bottom: none;
}

/* CỘT TRÁI (Thông tin text) */
.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
  min-width: 0;
}

.rightColumn {
  flex-shrink: 0;
}

.rowTop {
  display: flex;
  align-items: center;
  gap: 12px;
}

.orderId {
  font-size: 14px;
  font-weight: 600;
  color: var(--erp-text-main); /* #111827 */
  font-family: var(--font-sans);
}

/* Badge Trạng thái */
.statusBadge {
  padding: 2px 10px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}
.statusProcessing {
  background: var(--status-processing);
  color: var(--text-processing);
}
.statusCompleted {
  background: var(--bg-success);
  color: var(--text-success);
}
.statusCancelled {
  background: var(--bg-cancelled);
  color: var(--erp-text-sub);
}

/* Dòng 2: Meta info (Ngày, Tên item) */
.rowMeta {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--erp-text-sub); /* #6b7280 */
}

.itemName {
  color: var(--erp-text-main);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dot {
  margin: 0 8px;
  color: var(--erp-border);
  font-size: 10px;
}

/* Dòng 3: Giá tiền */
.price {
  font-size: 14px;
  font-weight: 600;
  color: var(--erp-text-main);
  margin-top: 2px;
}

/* NÚT VIEW DETAILS */
.viewBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: white;
  border: 1px solid var(--erp-border);
  height: 36px;
  padding: 0 16px;
  border-radius: 12px;

  font-size: 13px;
  font-weight: 500;
  color: var(--erp-text-main);

  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.viewBtn:hover {
  background-color: var(--item-hover);
  border-color: #d1d5db;
}
