@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

/* 2. KHAI BÁO BIẾN TRONG ROOT */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --erp-primary: #0d724f;
  --erp-button: #0a5c3f;

  --erp-text-main: #111827;
  --erp-text-sub: #6b7280;
  --erp-text-placeholder: #9ca3af;

  --erp-border: #e5e7eb;
  --erp-bg-body: #f9fafb;
  --erp-bg-surface: #ffffff;

  --erp-item-sidebar: #374151;
  --erp-social: #1f2937;

  --brand-google: #db4437;
  --brand-facebook: #4267b2;

  --item-hover: #f3f4f6;
  --erp-secondary-hover: #d1d5db;
  --radius-input: 20px;
  --radius-card: 16px;
  --input-height: 48px;
  --shadow-card: 0px 4px 20px 0px rgba(0, 0, 0, 0.06);

  --stat-icon: #f0fdf4;
  --cart-item: #111827;
  --product-meta: #fbbf24;

  --status-processing: #e0f2fe;
  --cl-badge: #2563eb;
  --bg-badge: #eff6ff;
  --text-processing: #0284c7;

  --bg-success: #dcfce7;
  --text-success: #16a34a;

  --bg-cancelled: #f3f4f6;
  --text-btn-secondary: #374151;

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    background-color: var(--erp-bg-body);
    color: var(--erp-text-main);
    font-family: SF Pro Display, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, sans-serif;
    margin: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  @layer utilities {
    /* Ẩn thanh cuộn cho Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    /* Ẩn thanh cuộn cho IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
